<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@


    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />*@


    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css" rel="stylesheet" />



    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    @*<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>*@
    @*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
    @*<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
</head>
<body>
    <div style="border-bottom:5pt solid;border-color:seagreen" class="fixed-top navbar-expand-lg bg-dark">
        <div class="container-fluid">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                    
                    <li class="btn btn-lg btn-dark">@Html.ActionLink("Get All Team information", "Teams", "Home",new { @class="nav-link"})</li>
                    
                </ul>
            </div>*@
            <h1 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight:bolder;color:azure;">RUN GAMING TOURNAMENT TEAM LIST</h1>
        </div>
    </div>
    <div style="background-color: ;padding:50px 0px 0px 20px;margin-left:5px;margin-right:10px" class="">
        @RenderBody()
        <hr />
        @*<footer class="fixed-bottom">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
    
</body>
</html>
